footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;

    .wrapper {
        font-size: 30px;

        .link {
            color: blue;
            padding: 10px;
        }
    }
}