.left {
    width: 200px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
    overflow: hidden;
    background-color: lightgray;
    border-radius: 8px;

    .link {
        color: orangered;
        padding: 10px;
    }
}